/* Navbar Styles */
.App{
  background-image:url(login-bg.jpg);
background-repeat: no-repeat;
}
.navbar {
  height: 70px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the navbar is on top */
}

/* Navbar Icons Container */
.navicons {
  background-color: transparent;
  display: flex;
  margin-right: 700px;
}

.navicons .iconsnav {
  background-color: transparent;
  color: rgb(57, 17, 85);
  font-size: 18px;
  margin-right: 10px;
}

.navicons p {
  background-color: transparent;
  font-size: 20px;
  color: rgb(57, 17, 85);
  margin-right: 30px;
}

/* Navbar Logo */
.logonav {
  border-radius: 50px;
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.logonav:hover {
  border: 1px solid rgb(62, 36, 81);
}

/* Logout Button */
#btnlogout {
  width: 100px;
  height: 30px;
  background: rgba(62, 36, 81, 0.934);
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 14px;
}

#btnlogout:hover {
  background-color: rgb(119, 81, 146);
}

/* Navbar Links */
.navlink {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  color: rgb(57, 17, 85);
  margin-right: 10px;
}

/* Dropdown Menu */
.dropmenu {
  margin: 10px;
  background-color: transparent;
  color: rgb(57, 17, 85);
  font-size: 17px;
  position: relative;
  height: 50px;
  text-decoration: underline;
  text-decoration-color: rgb(62, 36, 81);
  display: flex;
  align-items: center;
}

/* Icons */
.icons {
  background-color: transparent;
  margin-right: 10px;
}

/* Notification and Configuration Icons */
.notif, .config {
  background-color: transparent;
  width: 20px;
  height: 20px;
  color: rgb(57, 17, 85);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar {
    height: 100px;
    flex-direction: column; /* Adjust direction for smaller screens */
    padding: 10px 0;
  }

  .navicons {
    margin-right: 10px;
  }

  .navicons .iconsnav {
    font-size: 13px;
    margin-right: 5px;
  }

  .navicons p {
    font-size: 17px;
    margin-right: 10px;
  }

  .logonav {
    border-radius: 50px;
    width: 45px;
    height: 45px;
  }

  #btnlogout {
    width: 80px;
    height: 25px;
    font-size: 12px;
  }

  .dropmenu {
    font-size: 16px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .navbar {
    height: 100px;
    flex-direction: column; /* Adjust direction for smaller screens */
    padding: 10px 0;
  }

  .navicons {
    margin-right: 3px;
  }

  .navicons p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .logonav {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 0;
  }

  #btnlogout {
    width: 70px;
    height: 25px;
    font-size: 10px;
  }

  .dropmenu {
    font-size: 12px;
  }
}
